.divCardDetail {
    background-color: black;
    border-radius: 16px;
    border: 2px solid white;
    width: 30%;
    height: 100%;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 4px 1px rgba(0, 0, 0, 0.462)
}

.divCardDetailCreationPage{
    background-color: black;
    border-radius: 16px;
    border: 2px solid white;
    width: 80%;
    height: 80%;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 4px 1px rgba(0, 0, 0, 0.462)
}

/* NAME */

.divName {
    background-color: rgba(255, 255, 255, 0.27);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    padding: 7px;
    border: 1px solid white;
}

.divName h1 {
    text-transform: capitalize;
}

/* imageAndTypes */

.imageAndTypes {
    display: flex;
    width: 95%;
    margin: auto;
}

.divImageDetail img {
    height: 100%;
    width: 100%;
    position: relative;
    transition: 0.6s;

}

.divImageDetail {
    position: relative;
    height: 100%;
    width: 60%;
}

.divImageDetail::before {
    content: "";
    position: absolute;
    height: 50%;
    width: 70%;
    background-color: #8CC63F;
    top: 20%;
    left: 30%;
    border-radius: 50%;
    z-index: 0;
    /* Cambia el valor a uno menor */
    transition: 0.6s;
}

.divImageDetail:hover::before {
    transform: translate(10px, 10px);
}

.divImageDetail:hover img {
    transform: translate(-10px, -10px);
}

/* TYPES */

.typesContainer {
    background-color: rgba(255, 255, 255, 0.27);
    width: 30%;
    margin: 0 10px 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 70px;
    font-size: 17px;
    text-align: center;
}

.typesContainer h3 {
    text-transform: uppercase;
    width: 80%;
}

/* STATS */

.divStats {
    height: 200px;
    background-color: white;
    border-radius: 16px;
    width: 95%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 30px 15px 30px;
}

.statsContainer {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 15px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.statsContainer img {
    height: 40px;
    width: 60px;
    background-color: #8CC63F;
    padding: 5px;
    border-radius: 50%;
}